:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background: #2f303a;
  --accent-color-pictures: rgba(33, 150, 243, 0.9);
}
.title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/*герой*/
.hero {
  background-color: var(--footer-background);
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  padding: 46px;
}

.hero button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  border-radius: 6px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  outline: none;
}

/* преимущества */
/* .advantages {
    margin-left: auto;
  margin-right: auto;
} */
.our-advantages .container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px dotted pink; */
}

.advantages {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin: 94px 200px;
}

.advantages .item + .item {
  margin-left: 30px;
}

.adv-link img {
  margin-bottom: 0;
}

.advantages .advatage-title {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.list .text {
  font-size: 14px;
  line-height: 2;
  max-width: 278px;
}

.horizontal-line {
  text-align: center;
  width: 1200px;
  height: 0px;
  left: 200px;
  border: 1px solid #ececec;
}

/* чем мы занимаемся */
/* .what-we-do {
    margin-left: auto;
  margin-right: auto;
} */
/* .what-we-do {
  display: container;
  justify-content: center;
} */

.what-we-do {
  padding-top: 94px;
  padding-right: 200px;
  padding-bottom: 94px;
  padding-left: 200px;
  /* border-top: 1px solid #ececec; */
}

.what-we-do .container {
  display: block;
  /* outline: 2px dotted pink; */
  text-align: center;
  /* margin-top: 94px;
  margin-right: 200px;
  margin-bottom: 94px;
  margin-left: 200px; */
}

.applications {
  display: flex;
  flex-direction: row;
}

.applications .item {
  padding-top: 94px;
}

.applications .item + .item {
  margin-left: 30px;
}

.applications .applications-type {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 380px;
  height: 70px;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
}

/* наша команда */
/* .team {
  margin-left: auto;
  margin-right: auto;
} */
.team {
  padding-top: 94px;
  padding-right: 198px;
  padding-bottom: 94px;
  padding-left: 200px;
  background-color: #f5f4fa;
}

.team .team-container {
  /* outline: 2px dotted pink; */
}

.team-container .title {
  text-align: center;
}

.members {
  display: flex;
  flex-direction: row;
  /* margin: 186px 200px 94px; */
}

.members .item {
  background: #ffffff;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
  padding-bottom: 24px;
}

.members .item + .item {
  margin-left: 30px;
}

.members .members-name,
.members .members-profession {
  font-size: 16px;
  line-height: 1.19;
}

.members img {
  margin-bottom: 30px;
}
.members-name {
  margin-bottom: 10px;
  font-weight: 500;
}
.members-profession {
  margin-bottom: 10px;
}
.members.list {
  width: 1230px;
}

/* наши постоянные клиенты */
/* .our-clients {
  justify-content: center;
} */

.our-clients .clients-container {
  padding: 94px 200px;
  margin-right: auto;
  margin-left: auto;
  width: 1230px;
  /* outline: 2px dotted pink; */
}

.clients-container .title {
  margin-bottom: 50px;
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.clients .item + .item {
  margin-left: 30px;
}
